<!DOCTYPE html>
<html lang="en">
<% include partials/head %>
<body>
<% include partials/popup %>
<header>
<% include partials/header %>
</header>
<div id="tt-pageContent">
	<div class="container-indent nomargin">
		<div class="container-fluid">
			<div class="row">
				<div class="slider-revolution revolution-default">
					<div class="tp-banner-container">
						<div class="tp-banner revolution">
							<ul>
								<li data-thumb="images/slides/01/slide-01.jpg" data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-saveperformance="off"  data-title="Slide">
									<img src="/images/slides/01/slide-01.jpg"  alt="slide1"  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" >
									<div class="tp-caption tp-caption1 lft stb"
										data-x="center"
										data-y="center"
										data-hoffset="0"
										data-voffset="0"
										data-speed="600"
										data-start="900"
										data-easing="Power4.easeOut"
										data-endeasing="Power4.easeIn">
										<div class="tp-caption1-wd-1 tt-base-color" style="color: gray;" >Cửa hàng thời trang</div>
										<div class="tp-caption1-wd-2" style="color: rgb(87, 85, 85);">HAPPY KIDS</div>
										<div class="tp-caption1-wd-3">Dành cho bé</div>
										<div class="tp-caption1-wd-4"><a style="background-color: gray;" href="/products" target="_blank" class="btn btn-xl" data-text="Shop Now!">SHOP NOW</a></div>
									</div>
								</li>
								<li data-thumb="images/slides/01/slide-02.jpg" data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-saveperformance="off"  data-title="Slide">
									<img src="/images/slides/01/slide-02.jpg"  alt="slide1"  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" >
									<div class="tp-caption tp-caption1 lft stb"
										data-x="center"
										data-y="center"
										data-hoffset="0"
										data-voffset="0"
										data-speed="600"
										data-start="900"
										data-easing="Power4.easeOut"
										data-endeasing="Power4.easeIn">
										<div class="tp-caption1-wd-1 tt-black-color" style="color: gray;">WELCOME</div>
										<div class="tp-caption1-wd-2 tt-black-color" style="font-family: segoe ui light;">My Shop</div>
										<div class="tp-caption1-wd-3 tt-black-color"></div>
										<div class="tp-caption1-wd-4"><a style="background-color: gray;" href="/products" target="_blank" class="btn btn-xl" data-text="Shop Now!">SHOP NOW</a></div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-indent0">
		<div class="container-fluid">
			<div class="row tt-layout-promo-box">
				<div class="col-sm-12 col-md-6">
					<div class="row">
						<div class="col-sm-6">
							<a href="/products" class="tt-promo-box tt-one-child hover-type-2">
								<img src="/images/loader.svg" data-src="/images/promo/index-promo-img-01.jpg" alt="">
								<div class="tt-description">
									<div class="tt-description-wrapper">
										<div class="tt-background"></div>
										<div class="tt-title-small">SALE OFF</div>
									</div>
								</div>
							</a>
							<a href="/products" class="tt-promo-box tt-one-child hover-type-2">
								<img src="/images/loader.svg" data-src="/images/promo/index-promo-img-02.jpg" alt="">
								<div class="tt-description">
									<div class="tt-description-wrapper">
										<div class="tt-background"></div>
										<div class="tt-title-small">NEW ARRIVAL</div>
									</div>
								</div>
							</a>
						</div>
						<div class="col-sm-6">
							<a href="/products" class="tt-promo-box tt-one-child hover-type-2">
								<img src="/images/loader.svg" data-src="/images/promo/index-promo-img-03.jpg" alt="">
								<div class="tt-description">
									<div class="tt-description-wrapper">
										<div class="tt-background"></div>
										<div class="tt-title-small">T-SHIRTS</div>
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm-12 col-md-6">
					<div class="row">
						<div class="col-sm-6">
							<a href="/products" class="tt-promo-box tt-one-child hover-type-2">
								<img src="/images/loader.svg" data-src="/images/promo/index-promo-img-04.jpg" alt="">
								<div class="tt-description">
									<div class="tt-description-wrapper">
										<div class="tt-background"></div>
										<div class="tt-title-small">BODYSUITS</div>
									</div>
								</div>
							</a>
						</div>
						<div class="col-sm-6">
							<a href="/products" class="tt-promo-box tt-one-child hover-type-2">
								<img src="/images/loader.svg" data-src="/images/promo/index-promo-img-05.jpg" alt="">
								<div class="tt-description">
									<div class="tt-description-wrapper">
										<div class="tt-background"></div>
										<div class="tt-title-small">TOYS & ACCESSORY</div>
									</div>
								</div>
							</a>
						</div>
						<div class="col-sm-12">
							<a href="/products" class="tt-promo-box tt-one-child">
								<img style="height: 450px;" src="/images/loader.svg" data-src="/images/promo/index-promo-img-06.jpg" alt="">
								<div class="tt-description">
									<div class="tt-description-wrapper">
										<div class="tt-background"></div>
										<div class="tt-title-small">SHOE</div>
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-indent">
		<div class="container container-fluid-custom-mobile-padding">
			<div class="tt-block-title">
				<h1 class="tt-title">Trending</h1>
				<div class="tt-description">Last week most view</div>
			</div>
			<div class="row tt-layout-product-item">
				<!-- <img src="..\uploads\1595776728187-83363977_4115589978513902_8184961798795240618_n.jpg" alt=""> -->
				<% trendings.forEach(function(prod) { %>
					<div class="col-6 col-md-4 col-lg-3">
						<div class="tt-product thumbprod-center">
							<div class="tt-image-box">					
								<a href="/product/<%= prod._id %>">
									
									<span class="tt-img"><img src="<%= prod.images[0] %>" data-src="<%= prod.images[0] %>" alt="" class="loaded" data-was-processed="true"></span>
									<span class="tt-img-roll-over"><img src="<%= prod.images[1] %>" data-src="<%= prod.images[1] %>" alt="" class="loaded" data-was-processed="true"></span>
								</a>
							</div>
							
							<div class="tt-description">
								<div class="tt-row">
									<ul class="tt-add-info">
										<li><a href="#"><%= prod.productType.sub %></a></li>
									</ul>
									<div class="tt-rating">
										<i class="icon-star"></i>
										<i class="icon-star"></i>
										<i class="icon-star"></i>
										<i class="icon-star"></i>
										<i class="icon-star"></i>
									</div>
								</div>
								<h2 class="tt-title"><a href="product/<%= prod._id %>"><%= prod.name %></a></h2>
								<div class="tt-price">
									$<%= prod.price %>
								</div>
								<div class="tt-product-inside-hover" >
									<div class="tt-row-btn">
										<button class="tt-btn-addtocart thumbprod-button-bg add-cart" data-id="<%= prod._id %>" data-toggle="modal" data-target="#modalAddToCartProduct<%= prod._id %>">ADD TO CART</button>
									</div>
			
								</div>
							</div>
						</div>
					</div>

					
					<div
  						class="modal fade"
  						id="modalAddToCartProduct<%= prod._id %>"
  						tabindex="-1"
  						role="dialog"
  						aria-label="myModalLabel"
  						aria-hidden="true"
					>
  <div class="modal-dialog">
    <div class="modal-content ">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
		  aria-hidden="true"
		  
        >
          <span class="icon icon-clear"></span>
        </button>
      </div>
      <div class="modal-body">
        <div class="tt-modal-addtocart mobile">
			<div class="tt-modal-messages">
			  <i class="icon-f-68"></i> Added!
			</div>
			<button class="btn-link btn-close-popup" data-dismiss="modal">Continue shopping</button>
			<a href="/shopping_cart" class="btn-link">See your cart</a>
			<%if (typeof(user) !== 'undefined' && user.isAuthenticated) { %>
			  <a href="/add-order" class="btn">Checkout!</a>
			  <% }else if(typeof(user) == 'undefined'){ %>
				  <a href="/login" class="btn">Login to checkout!</a>
				  
				  <% }else if(typeof(user) !== 'undefined' && !user.isAuthenticated){ %>
					  <a href="/verify-email" class="btn">Vertify your email!</a>
					  <% } %>
		  </div>
        <div class="tt-modal-addtocart desctope">
          <div class="row">
            <div class="col-12 col-lg-6">
              <div class="tt-modal-messages">
                <i class="icon-f-68"></i> Added!
              </div>
              <div class="tt-modal-product">
                <div class="tt-img">
                  <img
                    src="/images/loader.svg"
                    data-src="<%= prod.images[0] %>"
                    alt=""
                  />
                </div>
                <h2 class="tt-title">
                  <a href="/product/<%= prod.name %>"><%= prod.name %></a>
                </h2>

                <div class="tt-qty">QTY: <span>1</span></div>
              </div>
              <div class="tt-product-total">
                <div class="tt-total">
                  TOTAL:
                  <span class="tt-price">$<%= prod.price %></span>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-4">
              
				<a href="#" class="btn btn-border btn-close-popup" data-dismiss="modal"
				
				  >Continue shopping</a
				>
				<a href="/shopping_cart" class="btn btn-border">See your cart</a>
				<%if (typeof(user) !== 'undefined' && user.isAuthenticated) { %>
				  <a href="/add-order" class="btn">Checkout!</a>
				  <% }else if(typeof(user) == 'undefined'){ %>
					  <a href="/login" class="btn">Login to checkout!</a>
					  
					  <% }else if(typeof(user) !== 'undefined' && !user.isAuthenticated){ %>
						  <a href="/verify-email" class="btn">Vertify your email!</a>
						  <% } %>
			  </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
					<% }); %>
			</div>
		</div>
	</div>
	<div class="container-indent">
		<div class="container-fluid-custom">
			<div class="row tt-layout-promo-box">
				<div class="col-sm-6 col-md-4">
					<a href="/products" class="tt-promo-box">
						<img src="/images/loader.svg" data-src="/images/promo/index-promo-img-07.jpg" alt="">
						<div class="tt-description">
							<div class="tt-description-wrapper">
								<div class="tt-background"></div>
								<div class="tt-title-small">Xả Hàng Thu Đông</div>
								<div class="tt-title-large">Sale off to <span class="tt-base-color">50%</span></div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-sm-6 col-md-4">
					<a href="/products" class="tt-promo-box">
						<img src="/images/loader.svg" data-src="/images/promo/index-promo-img-08.jpg" alt="">
						<div class="tt-description">
							<div class="tt-description-wrapper">
								<div class="tt-background"></div>
								<div class="tt-title-small">Thời Trang Mùa Hè <span class="tt-base-color">2019</span></div>
								<div class="tt-title-large">NEW PRODUCT</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-sm-6 col-md-4">
					<a href="/products" class="tt-promo-box">
						<img src="/images/loader.svg" data-src="/images/promo/index-promo-img-09.jpg" alt="">
						<div class="tt-description">
							<div class="tt-background"></div>
							<div class="tt-description-wrapper">
								<div class="tt-background"></div>
								<div class="tt-title-small">NEW COLLECTION</div>
								<div class="tt-title-large"><span class="tt-base-color">TÚI XÁCH TAY</span></div>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="container-indent">
		<div class="container container-fluid-custom-mobile-padding">
			<div class="tt-block-title">
				<h2 class="tt-title">BEST SELLER</h2>
				<div class="tt-description">Last week most sell</div>
			</div>
			<div class="row tt-layout-product-item">
				<% hots.forEach(function(prod) { %>
					<div class="col-6 col-md-4 col-lg-3">
						<div class="tt-product thumbprod-center">
							<div class="tt-image-box">				
								<a href="/product/<%= prod._id %>">
									<span class="tt-img"><img src="<%= prod.images[0] %>" data-src="<%= prod.images[0] %>" alt="" class="loaded" data-was-processed="true"></span>
									<span class="tt-img-roll-over"><img src="<%= prod.images[1] %>" data-src="<%= prod.images[1] %>" alt="" class="loaded" data-was-processed="true"></span>
								</a>
							</div>
							<div class="tt-description">
								<div class="tt-row">
									<ul class="tt-add-info">
										<li><a href="#"><%= prod.productType.sub %></a></li>
									</ul>
									<div class="tt-rating">
										<i class="icon-star"></i>
										<i class="icon-star"></i>
										<i class="icon-star"></i>
										<i class="icon-star"></i>
										<i class="icon-star"></i>
									</div>
								</div>
								<h2 class="tt-title"><a href="product/<%= prod._id %>"><%= prod.name %></a></h2>
								<div class="tt-price">
									$<%= prod.price %>
								</div>
								<div class="tt-product-inside-hover" >
									<div class="tt-row-btn">
										<button class="tt-btn-addtocart thumbprod-button-bg add-cart" data-id="<%= prod._id %>" data-toggle="modal" data-target="#modalAddToCartProduct<%= prod._id %>">ADD TO CART</button>
									</div>
			
								</div>
							</div>
						</div>
					</div>

					
					<div
  						class="modal fade"
  						id="modalAddToCartProduct<%= prod._id %>"
  						tabindex="-1"
  						role="dialog"
  						aria-label="myModalLabel"
  						aria-hidden="true"
					>
  <div class="modal-dialog">
    <div class="modal-content ">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
		  aria-hidden="true"
		  
        >
          <span class="icon icon-clear"></span>
        </button>
      </div>
      <div class="modal-body">
        <div class="tt-modal-addtocart mobile">
			<div class="tt-modal-messages">
			  <i class="icon-f-68"></i> Added!
			</div>
			<button class="btn-link btn-close-popup" data-dismiss="modal">Continue shopping</button>
			<a href="/shopping_cart" class="btn-link">See your cart</a>
			<%if (typeof(user) !== 'undefined' && user.isAuthenticated) { %>
			  <a href="/add-order" class="btn">Checkout!</a>
			  <% }else if(typeof(user) == 'undefined'){ %>
				  <a href="/login" class="btn">Login to checkout!</a>
				  
				  <% }else if(typeof(user) !== 'undefined' && !user.isAuthenticated){ %>
					  <a href="/verify-email" class="btn">Vertify your email!</a>
					  <% } %>
		  </div>
        <div class="tt-modal-addtocart desctope">
          <div class="row">
            <div class="col-12 col-lg-6">
              <div class="tt-modal-messages">
                <i class="icon-f-68"></i> Added!
              </div>
              <div class="tt-modal-product">
                <div class="tt-img">
                  <img
                    src="/images/loader.svg"
                    data-src="<%= prod.images[0] %>"
                    alt=""
                  />
                </div>
                <h2 class="tt-title">
                  <a href="/product/<%= prod.name %>"><%= prod.name %></a>
                </h2>

                <div class="tt-qty">QTY: <span>1</span></div>
              </div>
              <div class="tt-product-total">
                <div class="tt-total">
                  TOTAL:
                  <span class="tt-price">$<%= prod.price %></span>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-4">
              
				<a href="#" class="btn btn-border btn-close-popup" data-dismiss="modal"
				
				  >Continue shopping</a
				>
				<a href="/shopping_cart" class="btn btn-border">See your cart</a>
				<%if (typeof(user) !== 'undefined' && user.isAuthenticated) { %>
				  <a href="/add-order" class="btn">Checkout!</a>
				  <% }else if(typeof(user) == 'undefined'){ %>
					  <a href="/login" class="btn">Login to checkout!</a>
					  
					  <% }else if(typeof(user) !== 'undefined' && !user.isAuthenticated){ %>
						  <a href="/verify-email" class="btn">Vertify your email!</a>
						  <% } %>
			  </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
					<% }); %>
			</div>
		</div>
	</div>
	<div class="container-indent">
		<div class="container">
			<div class="row tt-services-listing">
				<div class="col-xs-12 col-md-6 col-lg-4">
					<a href="#" class="tt-services-block">
						<div class="tt-col-icon">
							<i class="icon-f-48"></i>
						</div>
						<div class="tt-col-description">
							<h4 class="tt-title">Free Shipping</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, error!</p>
						</div>
					</a>
				</div>
				<div class="col-xs-12 col-md-6 col-lg-4">
					<a href="#" class="tt-services-block">
						<div class="tt-col-icon">
							<i class="icon-f-35"></i>
						</div>
						<div class="tt-col-description">
							<h4 class="tt-title">24/7 Customer Service</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, error!</p>
						</div>
					</a>
				</div>
				<div class="col-xs-12 col-md-6 col-lg-4">
					<a href="#" class="tt-services-block">
						<div class="tt-col-icon">
							<i class="icon-e-09"></i>
						</div>
						<div class="tt-col-description">
							<h4 class="tt-title">Return in 30 days</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, error!</p>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<footer>
<% include partials/footer %>
</footer>
<a href="#" class="tt-back-to-top">BACK TO TOP</a>
<% include partials/modal-addtocartproduct %>
<% include partials/modal-quickviewmodal %>
<% include partials/modal-videoproduct %>
<% include partials/modal-subscribegood %>

<% include partials/script %>



</body>
</html>